/* Changes the background color of the entire  webpage */
body {
	background-color: #2F2F2F;
}

/* Styles the title section at the top of the page */
#titleSection {

    background-color: #1B5299;

    height: 100%;

    width: 100%;

    margin-left: auto;

    margin-left: auto;

    position: top;

    top: 0; left: 0; bottom: 0; right: 0;

    padding-top: 5px;

    padding-bottom: 5px;

    font-family: 'Big Shoulders Text';

    text-align: center;

    color: white;
    
    font-size: 20px;

    border-radius: 25px;

    outline: 3px solid black;
}

/* Styles the main part, including the Dialogflow window and instructions sidebar */
#mainFunction {

    background-color: #1B5299;

  	width: 750px;
  
  	height: 1500px;
 
  	padding: 0;
 
  	overflow: hidden;

    margin: auto;

    position: center;

    top: 0; left: 0; bottom: 0; right: 0;

    font-family: 'Big Shoulders Text';

    text-align: center;

    color: white;
    
    font-size: 20px;
}

/* Sizes the iFrame with the Dialogflow windo */
.id iframe {
	
	width: 100%;

	height: 100%;

	border: none;

}

/* Styles the instructions sidebar */
.instructions {

    height: 40%;

    width: 31.25%;

    position: absolute;

    left: 25;

    top: 50;

    padding-top: 40px;

    background-color: #1B5299;

    border-radius: 25px;

    outline: 3px solid black;

    color: white;

    font-family: 'Big Shoulders Text';

    overflow: hidden;

}

/* Styles the instructions sidebar */
.instructions div {

    padding: 8px;

    font-size: 18px;

    display: block;
    
}
